# Vim tmp files
*~

# Eclipse project files
.project
.classpath
**/.project
**/.classpath
**/.settings

# NetBeans private project files
/nbproject/private/
/nbactions-*.xml
/nb-configuration.xml

build.properties

# output directories
bin
classes
javadoc
log
testng-output
output
target
benchmark/output

# log files
**/*.log


